<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Shopalize_Productsharing>
            <version>0.0.1</version>
        </Shopalize_Productsharing>
    </modules>
    <global>
        <blocks>
            <productsharing>
                <class>Shopalize_Productsharing_Block</class>
            </productsharing>
        </blocks>
        <helpers>
            <productsharing>
                <class>Shopalize_Productsharing_Helper</class>
            </productsharing>
        </helpers>
        <resources>
            <productsharing_setup>
                <setup>
                    <module>Shopalize_Productsharing</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productsharing_setup>
            <productsharing_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productsharing_write>
            <productsharing_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productsharing_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <productsharing>
                <use>standard</use>
                <args>
                    <module>Shopalize_Productsharing</module>
                    <frontName>productsharing</frontName>
                </args>
            </productsharing>
        </routers>
		<layout>
			<updates>
				<productsharing>
					<file>shopalizeproductsharing.xml</file>
				</productsharing>
			</updates>
		</layout>
    </frontend>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <productsharing>
                                            <title>Shopalize Product Sharing</title>
                                        </productsharing>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
	<default>
       <productsharing>
            <settings>
				<share_button_class>shopalize-share-icon-24</share_button_class>  
                <share_button_text>Share &amp; Save</share_button_text>
            </settings>
		</productsharing>
    </default>
</config>